// Specific CSS for your home-page
.banner {
  background-size: cover;
  height: 70vh;
  padding: 150px 0;
  display: flex;
  align-items: center;
}

hr {
  border-color: #d6d6d6;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.carousel-inner {
  img {
    width: 8%;
    height: 8%;
  }
}

.carousel-control-next-icon {
  background-image: url("https://www.iconninja.com/files/461/869/205/forward-next-direction-arrows-chevron-right-arrow-icon.svg") !important;
  height: 56%;
  width: 56%;
  margin-bottom: 16px;
}

.carousel-control-prev-icon {
  background-image: url("https://www.iconninja.com/files/461/869/205/forward-next-direction-arrows-chevron-right-arrow-icon.svg") !important;
  height: 56%;
  width: 56%;
  transform: rotateY(180deg);
}

.about-content {
  text-align: center;
  margin-bottom: 50px;

  img {
    margin: 0 auto;
    border: 7px solid #fff;
  }

  p {
    margin-top: 0;
  }

  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
}

.section-heading {
  margin-bottom: 75px;
}

.text-muted {
  color: #777;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-inline-about {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  display: flex;
  justify-content: center;
}

ul.social-buttons {
  margin-bottom: 0;
  li a {
    display: block;
    background-color: #222;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
    color: #fff;
    outline: 0;
    transition: all .3s;
    margin: 10px;
  }

  li a:hover {
    background-color: #7289da;
  }
}

.social-links {
  left: 95%;
}

.social-icons {
  color: #e6e6e6;
  margin: 0;
  font-size: 45px;
  transition: 0.3s;
}

.social-icons:hover {
  color: black;
}
