// Specific CSS for your home-page
.banner {
  background-size: cover;
  height: 70vh;
  padding: 150px 0;
  display: flex;
  align-items: center;
}

hr {
  border-color: #d6d6d6;
}

.carousel-inner {
  margin-left: 120px;
  img {
    width: 120px;
    height: 120px;
    margin: 0 135px 50px 135px;
  }
}

.carousel-control-next-icon {
  background-image: url("https://www.iconninja.com/files/461/869/205/forward-next-direction-arrows-chevron-right-arrow-icon.svg") !important;
  height: 50px;
  width: 50px;
  margin-bottom: 50px;
}

.carousel-control-prev-icon {
  background-image: url("https://i7.uihere.com/icons/604/695/823/backarrow-027f2060fc66d96a22683177d9e76176.png") !important;
  height: 40px;
  width: 40px;
  margin-bottom: 50px;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.unlisenced-image {
  height: 304px;
  margin-left: 12px;
  margin-top: 30px;
}

.dayo-image {
  height: 416px;
  margin-left: 192px;
  margin-top: 40px;
}

h2.pre {
  color: #a9a9a9;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 26px;
}

.project {
  height: 60%;
  width: 80%;
  margin: 0 23px 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.modal-body {
  h6 {
    color: #7289da;
  }
  p {
    color: black !important;
  }
}

.content {
  p {
    width: 350px;
    font-size: 14px;
    color: gray;
  }

  h3 {
    font-size: 26px;
    font-weight: 700;
    font-family: open sans,sans-serif;
  }

}

h3 {
  span {
    vertical-align: middle;
    margin-left: 5px;
    color: #fff;
    background-color: #7289da;
    display: inline-block;
    padding: 3px 11px;
    font-size: 50%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    border-radius: .25rem;
  }
}

.links {
  display: flex;
  justify-content: space-between;
}
  button {
    width: 124px;
    height: 42px;
    border-radius: 16px;
  }

.btn-black {
  background: #7289da;
  color: #fff;
}

.btn-black:hover {
  background: #fff;
  border-color: #7289da;
  color: #7289da;
  transition: 0.4s;
}

.btn-white {
  border-color: #7289da;
  color: #7289da;

}

.btn-white:hover {
  background: #7289da;
  color: #fff;
  transition: 0.4s;
}


.contact {
  margin: 30px 216px 100px 270px;
  button {
    width: 96px;
    position: relative;
    left: 45%;
  }
}

// .social-links {
//   position: fixed;
// }

.list-inline{
  position: relative;
  left: 90%;
}
.social-icons {
  color: #e6e6e6;
  margin: 0;
  font-size: 45px;
  transition: 0.3s;
}

.social-icons:hover {
  color: black;
}
