<div class="social-links fixed-bottom">
  <ul class="list-inline">
    <li>
      <a href="https://github.com/NourSouidd" target="_blank" class="social-icons">
        <i class="fab fa-github-alt"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/noursouid" target="_blank" class="social-icons">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <%= link_to asset_path("Cv.pdf"), target: "_blank", class: "social-icons" do %>
        <i class="fas fa-file-alt"></i>
      <% end %>
    </li>
  </ul>
</div>
