<div class="social-links fixed-bottom">
  <ul class="list-inline">
    <li>
      <a href="https://github.com/NourSouidd" target="_blank" class="social-icons">
        <i class="fab fa-github-alt"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/noursouid" target="_blank" class="social-icons">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="#" target="_blank" class="social-icons">
        <i class="fas fa-file-alt"></i>
      </a>
    </li>
  </ul>
</div>
