<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="pre text-center">Who Am I?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="margin: auto !important;">
      <p class="text-muted">Hey I’m Nour, web developer currently located in Montreal (very flexible).</p>
      <p class="text-muted">I recently completed a full-stack bootcamp at <a target="blank" href="https://www.lewagon.com/fr/montreal/web-development-course/full-time" style="color: #7289da;">Le Wagon</a>.</p>
      <p class="text-muted">I enjoy learning and bringing ideas to life in the browser.</p>
      <p class="text-muted">I am also passionate about the world, the people inside it and the different challenges the globe is facing today. I strongly believe in positive change, I think the future lies in robotisation of all time wasters, repetitive tasks, global currencies and the sharing economy.</p>
    </div>
    <div class="col-sm-6 m-auto">
      <div class="about-content">
        <img class="img-circle img-responsive" style="width:239px;" src="https://avatars0.githubusercontent.com/u/59400481?s=460&u=0711eceb6120756696480e015b6272e6e16554f8&v=4">
        <h4>Nour Souid</h4>
        <p class="text-muted">Full-Stack Developer</p>
        <ul class="list-inline-about social-buttons">
          <li><a target="blank" href="#"><i class="fas fa-file-alt"></i></a></li>
          <li><a target="blank" href="https://www.linkedin.com/in/noursouid"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a target="blank" href="https://medium.com/@noursouidd"><i class="fab fa-medium-m"></i></a></li>
          <li><a target="blank" href="https://github.com/NourSouidd"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
