<!-- <div class="project">
  <div class="content">

  </div>
</div> -->
<div class="container section">
  <h2 class="pre text-center">Portfolio</h2>
  <div class="row align-items-center h-100 text-center text-lg-left project">
    <div class="col-lg-6 p-lg-0">
      <%= image_tag "unlicensed.png", class: "unlisenced-image"%>

    </div>

    <div class="col-lg-5 mx-auto py-3 content">
      <h3>
        The Unlicensed
        <span>2020</span>
      </h3>
      <p>A web app for individuals that doesn’t have the chance to practise their skills due to workforce’s barriers. It's a service marketplace where people can offer and book services.</p>
      <div class="links">
        <button type="button" class="btn-white" data-toggle="modal" data-target=".bd-unlicensed-modal-lg">Learn More</button>
        <%= render 'modals/unlisenced_about' %>
        <%= link_to "https://unlicensed.herokuapp.com/", :target => "_blank" do %>
          <button class="btn-black">Visit Site</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
