<!-- navabar -->

<%= render 'shared/navbar' %>

<!-- animation / banner -->
<div id="particles-js"></div>
<script src="particles.js"></script>


<!-- projects cards -->
<div class="project cards container">

  <h1>Hi, I'am Nour, Web Developer.</h1>
<!-- day-o -->
  <div class="project card">
    <%= image_tag "unlicensed.png", class: "project-image"%>

    <div class="languages">

      <div class="language">

      </div>

    </div>

  </div>


</div>
