<!-- navabar -->

<%= render 'shared/navbar' %>

<!-- animation / banner -->
<div id="particles-js"></div>
<script src="particles.js"></script>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">

    <h1>Nour Souid</h1>
    <h1>Fullstack Developer</h1>
  </div>
</div>


<!-- projects cards -->

<!-- unlisenced -->
  <div class="project">
    <img src="" alt="">
    <div class="content">
      <h1>The Unlicensed</h1>
      <p>2020</p>
      <p>A web app for individuals that doesn’t have the chance to practise their skills due to workforce’s barriers. It provides a marketplace where people can provide  and book services.</p>
      <button>Learn More</button>
      <button>Visit Site</button>
    </div>
  </div>
  <hr>

<!-- day-o -->
  <div class="project">
    <img src="" alt="">
    <div class="content">
      <h1>Day 0</h1>
      <p>2020</p>
      <p>A web app that help you build eco conscience habit through challenges, track your impact and connect you to a community that shares the same goals.</p>
      <button>Learn More</button>
      <button>Visit Site</button>
    </div>
  </div>



