.navbar-portfolio {
  background-color: transparent;
  transition: 0.5s background-color ease;
  a {
    color: white;
    font-size: 18px;
  }
}

.navbar-purple {
  background-color: #7289da;
  height: 70px;
}

.navbar-brand {
  h2 {
    margin: 0;
    color: white;
    background: black;
    padding: 5px;
    font-size: 26px;
    border-radius: 7px;
  }
}
